/* ---------------------------------------------- VARIABLES */

/* COLORES */

$verde: #d4f9da;
$violeta: #840015;
$violetaOscuro: #680415;
$blanco: #ffffff; 
$gris: #353535;

/* SOMBRAS */

$sombraGrisCaja: 0 0 0.5em #c7c7c7; 
$sombraVerdeCaja: 0 0 0.5em #94cc9d;